[user]
	name = soboro
	email = 
[core]
	excludesfile = /Users/soboro/.gitignore_global
	editor = /Applications/MacVim.app/Contents/MacOS/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/soboro/.stCommitMsg
[alias]
	s = status
	a = add
	co = commit
	p = push
	pu = pull
	cl = clone
	gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
